In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("../data/insurance.csv")

In [2]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [3]:
df.duplicated().sum()

np.int64(1)

In [4]:
#there is a duplicte this removes the duplicate and keeps the first occurense

df = df.drop_duplicates()

In [6]:
df['age'].min(), df['age'].max()

(18, 64)

In [7]:
df['bmi'].describe()

count    1337.000000
mean       30.663452
std         6.100468
min        15.960000
25%        26.290000
50%        30.400000
75%        34.700000
max        53.130000
Name: bmi, dtype: float64

The BMI distribution indicates a population skewed toward overweight and obese categories, with substantial variability and a small number of extreme high values. BMI is well-populated and suitable for modeling, though its skew suggests potential benefit from categorization or interaction analysis.

In [16]:
df['charges'].describe()
#mean > median so it is right skew

count     1337.000000
mean     13279.121487
std      12110.359656
min       1121.873900
25%       4746.344000
50%       9386.161300
75%      16657.717450
max      63770.428010
Name: charges, dtype: float64

Medical insurance charges exhibit substantial right skew, with a small proportion of individuals accounting for disproportionately high costs, resulting in a mean that overstates the typical expenditure.

In [10]:
# Log transformation applied to reduce right transformation
df['log_charges'] = np.log(df['charges'])

In [11]:
df['sex'] = df['sex'].str.lower()
df['smoker'] = df['smoker'].str.lower()
df['region'] = df['region'].str.lower()

In [12]:
df[['sex', 'smoker', 'region']].nunique()

sex       2
smoker    2
region    4
dtype: int64

In [14]:
df['smoker_flag'] = df['smoker'].map({'yes': 1, 'no': 0})

In [15]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 1337 entries, 0 to 1337
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          1337 non-null   int64
 1   sex          1337 non-null   object
 2   bmi          1337 non-null   float64
 3   children     1337 non-null   int64
 4   smoker       1337 non-null   object
 5   region       1337 non-null   object
 6   charges      1337 non-null   float64
 7   log_charges  1337 non-null   float64
 8   smoker_flag  1337 non-null   int64
dtypes: float64(3), int64(3), object(3)
memory usage: 104.5+ KB

,age,sex,bmi,children,smoker,region,charges,log_charges,smoker_flag
0,19,female,27.900,0,yes,southwest,16884.92400,9.734176,1
1,18,male,33.770,1,no,southeast,1725.55230,7.453302,0
2,28,male,33.000,3,no,southeast,4449.46200,8.400538,0
3,33,male,22.705,0,no,northwest,21984.47061,9.998092,0
4,32,male,28.880,0,no,northwest,3866.85520,8.260197,0